@if (!isDoctorLoading() && doctor !== undefined) {
  <form class="p-1" ngNativeValidate (ngSubmit)="submit()">
    <div class="container-fluid p-0 d-flex justify-content-between align-items-end">
      <span>Daten zur Person</span>
      <div class="btn btn-outline-primary mb-1" (click)="toggleWritable()">Bearbeiten</div>
    </div>
    <div class="input-group mb-1">
      <span class="input-group-text" id="basic-addon1">Titel</span>
      <input
        [(ngModel)]="doctor.title"
        name="title" type="text"
        class="form-control"
        [disabled]="!isWritable()"
        placeholder="Titel"
        aria-label="Titel"
        aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-1">
      <span class="input-group-text" id="basic-addon1">Vorname</span>
      <input
        [(ngModel)]="doctor.first_name"
        name="first_name"
        required="true"
        type="text"
        [disabled]="!isWritable()"
        class="form-control"
        placeholder="Vorname"
        aria-label="Vorname"
        aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-1">
      <span class="input-group-text" id="basic-addon1">Nachname</span>
      <input
        [(ngModel)]="doctor.last_name"
        name="last_name"
        required="true"
        [disabled]="!isWritable()"
        type="text"
        class="form-control"
        placeholder="Nachname"
        aria-label="Nachname"
        aria-describedby="basic-addon1">
    </div>
    <label for="address_1" class="mt-2">Adresse</label>
    <div class="input-group mb-1">
      <span class="input-group-text" id="basic-addon1">Adresse 1. Zeile</span>
      <input
        [(ngModel)]="doctor.address_1"
        name="address_1"
        type="text"
        class="form-control"
        [disabled]="!isWritable()"
        placeholder="Adresse 1. Zeile"
        aria-label="Adresse 1. Zeile"
        aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-1">
      <span class="input-group-text" id="basic-addon1">Adresse 2. Zeile</span>
      <input
        [(ngModel)]="doctor.address_2"
        name="address_2"
        type="text"
        class="form-control"
        [disabled]="!isWritable()"
        placeholder="Adresse 2. Zeile"
        aria-label="Adresse 1. Zeile"
        aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-1">
      <span class="input-group-text" id="basic-addon1">Postleitzahl</span>
      <input
        [(ngModel)]="doctor.post_code"
        name="postcode"
        type="text"
        class="form-control"
        [disabled]="!isWritable()"
        placeholder="Postleitzahl"
        aria-label="Postleitzahl"
        aria-describedby="basic-addon1">
      <input
        [(ngModel)]="doctor.city"
        name="city"
        type="text"
        class="form-control"
        [disabled]="!isWritable()"
        placeholder="Stadt"
        aria-label="Stadt"
        aria-describedby="basic-addon1">
    </div>

    <label class="mt-2">Kontaktdaten</label>
    <div class="input-group mb-1">
      <span class="input-group-text" id="basic-addon1">E-mail</span>
      <input
        [(ngModel)]="doctor.email"
        aria-describedby="basic-addon1"
        aria-label="E-Mail-Adresse"
        class="form-control"
        [disabled]="!isWritable()"
        name="email"
        placeholder="Email-Adresse"
        type="text">
    </div>
    <div class="input-group mb-1">
      <span class="input-group-text" id="basic-addon1">Telefonnummer</span>
      <input
        [(ngModel)]="doctor.phone_number"
        aria-describedby="basic-addon1"
        aria-label="Telefonnummer"
        class="form-control"
        [disabled]="!isWritable()"
        name="phone_number"
        placeholder="Telephonnummer"
        type="text">
    </div>
    <div class="input-group mb-1">
      <span class="input-group-text" id="basic-addon1">Faxnummer</span>
      <input
        [(ngModel)]="doctor.fax_number"
        name="fax_number"
        type="text"
        class="form-control"
        [disabled]="!isWritable()"
        placeholder="Faxnummer"
        aria-label="Faxnummer"
        aria-describedby="basic-addon1">
    </div>

    <div class="btn-group mt-2">
      <button type="submit" class="btn btn-primary">Speichern</button>
    </div>
  </form>
}
